#enter_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#table_urls{
    box-shadow: 0 0 10px rgb(41, 40, 40);
    background-color: rgb(250, 241, 211);
    text-align: center;
    width: 100%;
}

html, body {
    width:100%;
}