img {
    width: 100%;
    /* min-height: 500px; */
    /* min-width: 400px; */
    /* max-height: 500px; */
    border: solid black 2px;
    box-shadow: 0 0 10px rgb(8, 8, 8);
    
}
h1 {
    text-align: center;
    font-family: 'Potta One', cursive;
    background-color: #fd9c0d;

}
body{
    background-image: url(/labs/images1/cat_back.png);
    
}
#buttons{
    display: flex;
    height: 50%;
    justify-content: space-around;
    
 
    box-shadow:0 0 10px rgb(8, 8, 8);
    
}
select:hover{
    background-color: #fd9c0d;
}

select {
    color: #0d6efd;
    font-family: 'Permanent Marker', cursive;

  }
  option:not(:first-of-type) {
    color: black;
  }
button{
    font-family: 'Permanent Marker', cursive;
    
}
