h1 {
    display: flex;
    justify-content: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: x-large;
}

.box1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
    justify-content: space-evenly;
    
}

.btn_loc {
    display: flex;
    justify-content: center;
}

