.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    padding: 5px;
    box-shadow:10px 10px 8px 10px #888888;
}
h1 {
    text-align: center;
}

.result {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    

}
#results {
    border: black solid 2px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    /* box-shadow:10px 10px 8px 10px #888888; */
    /*  */
}

#resulty {
    min-width: 100px;
    min-height: 40px;
    
}