<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>To Do site</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <ul>
        {% for item in items %}
        <li>{{item.text}}</li>
        {% endfor %}
    </ul>
    
    <form action="{% url 'ToDo_app:save_todo_item'%}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="text" class="form-label">Item Description</label>
          <input type="text" name='text' class="form-control" id="item_text" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="Priority" class="form-label">Priority level</label>
          <input type="text" name="Priority" class="form-control" id="Priority">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
<hr>
<h2>Completed Items</h2>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>