nav aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
  justify-content: flex-start;
  position: relative;
  border: 2px solid rgb(10, 10, 10);
  
}

.title {
 
}

nav img{
    max-width: 1000px;
    margin: 0%;
}
header {
    font-size: large;
    font-family: 'Archivo Black', sans-serif;
    background-color: whitesmoke;
    padding: 10px;
    margin: auto;
    text-align: center;
    border: chartreuse;
    
}

main {
    font-size: large;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    padding: 5px;
    margin: auto;
    border: 6px solid rgb(10, 10, 10);
}
body {
    box-sizing: border-box;
    background-image: url('/labs/images1/background.jpg');
}

.class {
    border: 6px solid rgb(10, 10, 10);
}
.box1 {
    font-size: large;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    padding: 5px;
    margin: 1;
    border: 2px solid rgb(10, 10, 10);
}
.box2 {
    font-size: large;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    padding: 5px;
    margin: 1;
    border: 2px solid rgb(10, 10, 10);
}
.box3{
    font-size: large;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    padding: 5px;
    margin: 1;
    border: 2px solid rgb(10, 10, 10);
}
footer{
    background-color: white;
    box-sizing:border-box;
    font-family: 'Inconsolata', monospace;
}
img {
    max-width:500px ;
    border: 1px solid black;
    padding: 1;
    margin: 1;
  }