{% load static %}
<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'urlApp/main.css'%}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>URL Shortener</title>
</head>

<body>






    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="enter_area">
                <form action="{% url 'urlApp:save_url'%}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="long_url">
                            <h1>Tiny URL creator</h1>
                        </label>
                        <input type="text" name="long_url" required class="form-control" id="url_input"
                            aria-describedby="url_input" placeholder="Enter url">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    
                    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                Short URL copied
                            </div>
                            <button type="button" class="btn-close me-1 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                
                
                </form>
            </div>
        </div>
    </div>

    <hr>

    <table id="table_urls" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Long URL</th>
                <th scope="col">Short URL</th>
                <th scope="col"> Copy</th>
                <th scope="col"># accessed</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <td>{{ url.url }}</td>
                <td id="url_short">http://127.0.0.1:8000/{{url.code}}</td>
                <td>
                    <button type="button"
                        onclick="navigator.clipboard.writeText('http://127.0.0.1:8000/{{url.code}}') "
                        class="btn btn-outline-success btn-sm btn_copy">copy</button>
                </td>
                <td>{{url.counter}}</td>
                <td><a href="{% url 'urlApp:delete_url' url.id %}" id="deletebtn" type="button"
                        class="btn btn-outline-danger btn-sm">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for url in urls %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{url.counter}}%" aria-valuenow="50" aria-valuemin="1" aria-valuemax="10">{{ url.url }}</div>
      </div>
      
    <hr>
    </div>
    {% endfor %}
    <hr>

    <!-- <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Short URL copied
            </div>
            <button type="button" class="btn-close me-1 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script>
        let toast = new bootstrap.Toast(document.querySelector('.toast'))
        console.log(toast)

        let liveToastBtns = document.querySelectorAll('.btn_copy')
        for (btn of liveToastBtns) {
            btn.addEventListener('click', function () {
                toast.show()
            })
        }

    </script>

    <script src="{% static 'urlApp/main.js'%}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


</body>

</html>